{% extends "base.twig" %}

{% block content %}
    <section>
        <header><h2>About Us</h2></header>
        <p>We're a small community of about 2,500 LGBT teenagers connected via reddit to create a community driven
            subreddit open to ideas.</p>
        <br>
    </section>
    <section>
        <header><h2>Find Us on IRC</h2></header>
        <p>Come join us on IRC! If you don't have a client, or know what that is, start with <a href="/guide">this
                guide</a>. If you do have a client, <a href="irc://irc.lgbteens.us/#lgbteens">click this to open
                your
                client</a> or <a href="http://hexchat.org/downloads.html" target="_blank">get one</a>.
            <br><br>
            If neither of those work, here's the information:
            <br><b>#lgbteens @ irc.awfulnet.org</b>
        </p>
    </section>
    <section>
        <header><h2>Links</h2></header>
        <p>Here are some links relevant to the community:<br><br>
            <a href="https://plus.google.com/communities/113463109288185385935" target="_blank">Google+
                Community</a><br><br>
            <a href="http://roadtofabulousness.com/" target="_blank">The Road to Fabulousness <span
                        style="text-decoration:none;color:#333;">A blog by <a
                            href="http://reddit.com/u/Mr_Fabulouss" target="_blank">Mr_Fabulouss</a></span></a></p>
    </section>

    <div class="clearfix"></div>
{% endblock %}